.emptyComponent{
    width: 100%;
    min-height: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: #595959;
        font-size: 1.2rem;
    }
}